<header class="header">
    <div class="header-title" routerLink="/">Medial Agency</div>
    <div class="header-elements">
        <div class="header-element" routerLink="/account">Личный кабинет</div>
        <div class="header-element" routerLink="/card">Медецинская карта</div>
        <div class="header-element" routerLink="/about">Информация</div>
    </div>
</header>

<div class="content">
    <h3><a routerLink="/">Home</a> | <a routerLink="/protected">Protected</a> | <a routerLink="/call-api">Call API</a></h3>
    <h1>
        {{title}}
    </h1>
    <router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="footer-element"> Samara 2020</div>
</footer>